body {
    background-color: #c9b5ab;
    line-height: 1.5;
    color: #222; 
    font-family: PT Serif;
    
}

.info{
    text-align: center;
}

a {
    display: block;
    font-size: 1.125em;
    color: #8f2440;
    
    
}

h1 {
    font-family: PT Sans ;
    color:#3f1622;
    
}